################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServerAPI-Plugins/FileContentIndex
/.vs/ServerAPI-Plugins/v17
/Permissions/x64/Ark
/.vs
/Permissions/.vs/Permissions
/Permissions/Permissions/x64/Ark
